{% extends "users/base.html" %}
{% block title %} Login Page {% endblock title%}
{% load crispy_forms_tags %}

{% block content %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">


                        {% for product in products %}

                        <h3> {{product.name}} </h3>
                        <p> {{product.description}} </p>
                    <img src="{{ product.image.url }}" width="300px"  height="300px" class="img-thumbnail" alt="product list"> <br>
                   <p class="pl-5 ml-5" >
                       <a href="{% url 'add_review' product.id %}" class="btn btn-primary mt-3 mb-3 ml-2 text-center"> Add </a> </p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock content %}